@import "tailwindcss";

/* 
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-main-100: "rgb(231,187,65)";
  
} */
@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  user-select: none;
  
  @apply bg-white dark:bg-neutral-800 ;
  @media only screen and (max-width: 1024px) {
      background-color: "#171717";
  }
 
}

canvas {
  touch-action: none;
}
.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  /* max-width: 1120px; */

}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

  @utility flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
  .input_icon {
    @apply absolute left-3 top-3
  }
  
  .control-btn {
    @apply ml-2 p-3 rounded-full backdrop-blur flex-center
  }
  .video-carousel_container {
    @apply relative sm:w-[80vw] w-[90vw] md:h-[70vh] sm:h-[60vh] h-[50vh] lg:h-[50vh]
  }

  @media (orientation: landscape) {
      #game-container {
        display: block;
        /* or show a rotate screen message */
    }
  }